@model List<ModeloNegocio.IdeaNegocioModel>

<h2>Ideas de Negocio con Ingresos Mayores al Promedio</h2>

<table class="table">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Impacto social</th>
        <th>Valor Inversión</th>
        <th>Ingresos a 3 Años</th>
        <th>Herramientas de la 4RI utilizadas</th>
    </tr>
    @foreach (var idea in Model)
    {
        <tr>
            <td>@idea.Id.ToString("D3")</td>
            <td>@idea.NombreIdea</td>
            <td>@idea.ImpactoSocial</td>
            <td>@idea.Inversion</td>
            <td>@idea.Ingresos</td>
            <td>@idea.Herramientas4RI</td>
        </tr>
    }
</table>
