<h2> Menú de opciones</h2>

<ul>
    <li><a href="@Url.Action("AgregarIdeaNegocio", "Home")">Agregar Ideas de Negocio</a></li>
    <br />
    <li><a href="@Url.Action("IdeaDepartamentos", "Home")">Idea de negocio que impacta a mas departamentos</a></li>
    <br />
    <li><a href="@Url.Action("IdeaMayorIngresos", "Home")">Mayor cantidad de ingresos en 3 años</a></li>
    <br />
    <li><a href="@Url.Action("VerIdeasMasRentables", "Home")">Ideas de negocio que generan más rentabilidad</a></li>
    <br />
    <li><a href="@Url.Action("VerIdeasConMasImpactoDepartamentos", "Home")">Ideas de negocio que impacten a más 
        de 3 departamentos</a></li>
    <br />
    <li><a href="@Url.Action("SumaTotalIngresosInversion", "Home")">Sumas totales de los ingresos 
        e inversiones</a></li>
    <br />
    <li><a href="@Url.Action("IdeasConInteligenciaArtificial", "Home")">Ideas de negocio con la frase 
        "Inteligencia Artificial"</a></li>
    
    <br />
    <li><a href="@Url.Action("IdeasDesarrolloSostenible", "Home")">Ideas de negocio con la frase 
        "Desarrollo sostenible"</a></li>
    <br />
<li><a href="@Url.Action("IdeasMayoresAlPromedio", "Home")">Ideas de negocio con Ingresos mayores 
    al promedio</a></li>
    

</ul>
